{{ $related := (where (.Site.RegularPages.Related .) "Params.hidden" "!=" true) | first 5 }}
{{ with $related }}
<aside class="related-content--wrapper">
    <h2 class="section-title">{{ T "article.relatedContent" }}</h2>
    <div class="related-content">
        <ul class="related-list">
            {{ range . }}
            <li class="related-item">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</aside>
{{ end }}
